<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
{% if site.google_analytics %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', '{{ site.google_analytics }}');
// Prevent FOUC
window.addEventListener('load', function() {
  document.getElementById('header').className = 'loaded';
});
</script>
{% endif %}
<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen">
<link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
<!--[if lt IE 9]><script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
{% seo %}
</head>
<body>

<header id="header">
  <div class="inner">
    <h1>
      <a href="{{ '/' | absolute_url }}">
        <img src="play/pics/logo.svg" alt="Vietboard" aria-label="Vietboard">
        <!-- {{ site.title | default: site.github.repository_name }} -->
      </a>
    </h1>
    <h2>{{ site.description | default: site.github.project_tagline }}</h2>
    {% if site.github.is_project_page %}
    <a href="{{ site.github.repository_url }}" class="button"><small>View project on</small> GitHub</a>
    {% endif %}
    {% if site.github.is_user_page %}
    <a href="{{ site.github.owner_url }}" class="button"><small>Follow me on</small> GitHub</a>
    {% endif %}
  </div>
</header>

<div id="content-wrapper">
  <div class="inner clearfix">
    <section id="main-content">
      {{ content }}
      <p><a href="/play/" id="play" class="button">Play</a></p>
    </section>

    <aside id="sidebar">
      {% if site.show_downloads %}
      <a href="{{ site.github.zip_url }}" class="button">
        <small>Download</small>
        .zip file
      </a>
      <a href="{{ site.github.tar_url }}" class="button">
        <small>Download</small>
        .tar.gz file
      </a>
      {% endif %}

      {% if site.github.is_project_page %}
      <!--
      <p class="repo-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</p>
      -->
      {% endif %}

      <p>
        <a href="https://fb.me/vietboardplay" title="Visit our Facebook Page to learn more"><img src="/play/pics/fb.svg" width="48" height="48" alt="Facebook"></a>
        &nbsp;&nbsp;
        <a href="https://vietboard.wordpress.com/" title="Visit our WordPress Blog to learn more"><img src="/play/pics/wp.svg" width="48" height="48" alt="WordPress"></a>
      </p>
    </aside>
  </div>
</div>

</body>
</html>
